# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VoxelPhysics.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kolob\Desktop\VoxelPhysics\.idea\.idea.VoxelPhysics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
